{
  "branches": ["main", "master", {
    "name": "beta",
    "prerelease": true
  }],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/git", {
      "message": "Release: <%= nextRelease.version %> - <%= new Date().toLocaleDateString('en-US', {year: 'numeric',month: 'short',day: 'numeric',hour: 'numeric',minute: 'numeric'}) %> [skip ci]"
    }],
    ["@semantic-release/npm", { "pkgRoot": "dist" }],
    "@semantic-release/github"
  ]
}